@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Treino de Asp.net MVC</h1>
    <p class="lead">Criando um Crud em MVC utilizando as aulas do Eduardo Pires</p>
    <p><a href="www.eduardopires.net.br/category/mvc/" class="btn btn-primary btn-lg">Pagina do Eduardo&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Aprendendo a utilizar o Entity</h2>
        <p>
           Utilizando o Entity de uma maneira eficiente focando na eficiencia e performace do codigo.
        </p>
        <p><a href="www.eduardopires.net.br/category/mvc/" class="btn btn-primary btn-lg">Pagina do Eduardo&raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Utilizando First-Code</h2>
        <p>Utilizando Fluent API para cria os bancos de dados</p>
        <p><a href="www.eduardopires.net.br/category/mvc/" class="btn btn-primary btn-lg">Pagina do Eduardo&raquo;</a></p>
    </div>
</div>